<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<div class="jumbotron">
  <h1 class="display-4">
    <h1 class="one-line-text">hello, <%= user ? user.profile.name : "fellow tutor" %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>
  <p class="lead">Don't let your students suffer due to your disorginization!</p>
  <hr class="my-4">
  <p>Keep track of your assignments and students with this tutor-app</p>
  <p class="lead">
  </p>
</div>
<%- include('./partials/footer') %>
