<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section class="centered-all-assignments">
  
  <% if (user) { %>
   
   
    <h2>Add an Assignment!</h2>
    <form  action="/assignments" method="POST" ">
      <label>
        Add Assignment:
        <input type="text" name="name" autocomplete="off">
      </label>
      <label>
        Completed?
        <input type="checkbox" name="completed">
      </label>
      <button type="submit">Add 📃</button>
    </form>
  <% } %>
  <div class="margin-top centered-all column">
  <h2>All the Assignments!</h2>
  
  <ul>
    <% assignments.forEach(assignment => { %>
      <li class="font-large">
        <i class="fa-solid fa-paperclip fa-beat" style="--fa-animation-duration: 2s;"></i>
        <a href="/assignments/<%= assignment._id %>"><%= assignment.name %></a> 
        is <%= assignment.completed ? "completed" : "not completed"%></li>
    <% }) %>
  </ul>
</div>
</section>

<%- include('../partials/footer') %>
